In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [4]:
num1=20
num2=30
add=num1+num2
print(add)

50

# PRINT RESULT WITH STRING

In [5]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [6]:
name='python'
age=20
city='hyd'
print('My name is',name,'and i am',age,'years old from',city)

My name is python and i am 20 years old from hyd

# PRINT FORMAT METHOD

In [7]:
num1=20
num2=30
add=num1+num2
print('The addition of {} and {} is={}'.format(num1,num2,add))

The addition of 20 and 30 is=50

In [8]:
name='python'
age=20
city='hyd'
print('My name is {} and i am {} years old from {}'.format(name,age,city))

My name is python and i am 20 years old from hyd

In [10]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)
print('The average of {}, {}, and {} is= {} or {}'.format(num1,num2,num3,avg,avg1))

The average of 100, 25, and 333 is= 152.66666666666666 or 152.67

In [11]:
avg

152.66666666666666

In [12]:
avg1

152.67

# more short format methods
# f string method

In [14]:
num1=20
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 20 and 30 is= 50

In [15]:
name='python'
age=20
city='hyd'
print(f'My name is {name} and i am {age} years old from {city}')

My name is python and i am 20 years old from hyd

In [16]:
num1=100
num2=25
num3=333
avg=round((num1+num2+num3)/3,2)
print(f'The average of {num1}, {num2} and {num3} is = {avg}')

The average of 100, 25 and 333 is = 152.67

In [20]:
#lets combine all 
num1=10
num2=20
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is = {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is 30
The addition of 10 and 20 is = 30

# END STATEMENT

In [21]:
print('hello')
print('good morning')

hello
good morning

In [22]:
#here we will use end statement that join line from end of one string to starting of other string

In [23]:
print('hello', end=' ')
print('world good day')

hello world good day

# SEPARATOR

In [24]:
#here one print statement only we use
#inside one print statement we have multiple values
#we want to separate these multiple values with anything

In [25]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [26]:
print('hello','hai','how are you', sep='&')

hello&hai&how are you

In [27]:
print('hello','hai', 'how are you', sep='@#')

hello@#hai@#how are you

In [28]:
print(3, '.')

3 .

In [29]:
print(3,'.', sep=' ')

3 .

In [31]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.